<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>上传状态</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://v3.bootcss.com/dist/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">鞍山视频上传状态</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="#">概况</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">函数性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/prt">论坛主业务</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">页面性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mvcrt">论坛主业务</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stack性能 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stack">论坛主业务</a></li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">帮助</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped responsive-utilities">
            <thead>
            <tr>
                <th style="width: 220px;"></th>
                <!--<th>
                    状态
                </th>
                <th>
                    上传状态
                </th>-->
                <th>
                    1080P
                    <small>1920*1080</small>
                </th>
                <th>
                    720P
                    <small>1280*720</small>
                </th>
                <th>
                    480P
                    <small>720*480</small>
                </th>
            </tr>
            </thead>
            <tbody>
            <%if(d.length<=0){%>
            <tr><th colspan="6">没有视频</th></tr>
            <%}%>
            <% for(var i = 0;i < d.length;i++){
                var k = d[i];
                var t = item[i];
                var t1920 = t["1920x1080"];
                var t720 = t["1280x720"];
                var t480 = t["720x480"];
            %>
            <tr>
                <td><code><%=k %></code></td>
                <!--<td><code></code></td>
                <td><code></code></td>-->
                <td class="is-hidden">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=t1920%>" aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:<%=t1920%>%">
                            <span><%=t1920%>%</span>
                        </div>
                    </div>
                </td>
                <td class="is-hidden">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=t720%>" aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: <%=t720%>%">
                            <span><%=t720%>%</span>
                        </div>
                    </div>
                </td>
                <td class="is-hidden">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=t480%>" aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: <%=t480%>%">
                            <span><%=t480%>%</span>
                        </div>
                    </div>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
